<form method="post" action="{{ path('invoice_delete', {'id': invoice.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
    <button class="btn bg-transparent p-0"><i class="far fa-trash-alt text-danger"></i></button>
</form>