{% extends 'base.html.twig' %}

{% block title %}Factures - Modification{% endblock %}

{% block body %}
    <h4 class="mb-4">Modification d'une facture</h4>

    {{ include('invoice/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
