{% extends 'base.html.twig' %}

{% block title %}Factures - liste{% endblock %}

{% block body %}
    <h4>Liste des factures</h4>
    <a href="{{ path('invoice_new') }}" class="btn btn-outline-primary mb-3">Créer une nouvelle facture</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Désignation</th>
                <th scope="col">Prix HT</th>
                <th scope="col">TVA</th>
                <th scope="col">Prix TTC</th>
                <th scope="col text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('invoice_show', {'id': invoice.id}) }}">#{{ invoice.id }}</a>
                    </th>
                    <td>{{ invoice.designation }}</td>
                    <td>{{ invoice.priceBeforeVat }}</td>
                    <td>{{ invoice.vatAmount }}</td>
                    <td>{{ invoice.priceAfterVat }}</td>
                    <td class="text-center">
                        <a href="{{ path('invoice_edit', {'id': invoice.id}) }}"><i class="far fa-edit text-success"></i></a>
                        {{ include('invoice/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Les liste des factures ne contient aucun élément pour l'instant.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(invoices) }}
    </div>
{% endblock %}
