{% extends 'base.html.twig' %}

{% block title %}Factures - Création{% endblock %}

{% block body %}
    <h4 class="mb-4">Création d'une nouvelle facture</h4>

    {{ include('invoice/_form.html.twig') }}
{% endblock %}
