{% extends 'base.html.twig' %}

{% block title %}Factures - Consultation{% endblock %}

{% block body %}
    <h4 class="mb-4">Consultation d'une facture</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ invoice.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ invoice.description }}</td>
            </tr>
            <tr>
                <th>Prix HT</th>
                <td>{{ invoice.priceBeforeVat }}</td>
            </tr>
            <tr>
                <th>TVA</th>
                <td>{{ invoice.vatAmount }}</td>
            </tr>
            <tr>
                <th>Prix TTC</th>
                <td>{{ invoice.priceAfterVat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}"><i class="far fa-edit text-success"></i></a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
