<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>AccessSAP - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="py-2">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/img/logo-access-sap.png') }}" alt="logo AccessSAP">
                        </a>
                    </div>
                    <div class="col-4 text-center">
                        <p>
                            01 83 94 14 94 <br>
                            De Lundi à Vendredi de 9h à 18h.
                        </p>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-secondary">Se déconnecter</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary">Se connecter</a>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="nav-scroller py-1 font-weight-bold">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="#">PRÉSENTATION</a>
                    <a class="p-2 text-muted" href="#">PROFESSIONNELS</a>
                    <a class="p-2 text-muted" href="#">PARTICULIERS</a>
                    <a class="p-2 text-muted" href="#">BLOG</a>
                    <a class="p-2 text-muted" href="#">PARTENAIRES</a>
                </nav>
                <hr>
            </div>
        </div>
        <main role="main" class="container">
            <div class="row">
                <aside class="col-md-3">                    
                    <div class="p-3 bg-light rounded h-100">
                        <h5 class="text-center">Menu</h5>
                        <ul class="mb-3">
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('invoice_index') }}">Gérer mes factures</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="col-md-6">
                    {% block body %}{% endblock %}
                </div>
                <aside class="col-md-3">
                    <div class="p-3 mb-3 bg-light rounded text-center">
                        <h5 class="mb-4">Nous contacter</h5>
                        <p>
                            01 83 94 14 94 <br>
                            <a href="mailto:contact@access-sap.com">contact@access-sap.com</a>
                        </p>
                    </div>
                    <div class="p-3 mb-3 bg-light rounded h-75">
                        <h5 class="text-center">À propos de nous</h5>
                        <p class="mb-0">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.mollis euismod. t amet fermentum. Aenean lacinia bibendum nulla sed consectetur.mollis euismod.</p>
                    </div>
                </aside>
            </div>
        </main>

        <script src="https://kit.fontawesome.com/9e7c94804d.js" crossorigin="anonymous"></script>

        {% block javascripts %} {% endblock %}
    </body>
</html>